# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output of npm pack or yarn pack
*.tgz

# Test coverage
coverage/

# Optional npm cache directory
.npm/

# dotenv environment variables
.env

# macOS specific files
.DS_Store

# IDE specific
.vscode/
.idea/
# json
rss-data.json
